@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-size: 20px;
    color: #C0FFE9;
    cursor: default;
    user-select: none;
    text-decoration: none;
}

#navbar-text2-after1250{
    display: none;
    position: absolute;
    right: 25px;
    color: #FFEEDF;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

#navbar-text1{
    display: flex;
    position: absolute;
    left: 25px;
    color: #FFEEDF;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 36px;
}

#navbar-text2{
    display: flex;
    position: absolute;
    right: 25px;
    color: #FFEEDF;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

.selected-text{
    color: #CCBCB1;
}

#copyright{
    position: fixed;
    left: 20px;
    bottom: 15px;
    color: #FFEEDF;
    font-size: 14px;
}

#index-text{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #FFEEDF;
    font-size: 50px;
}

#navbar-background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 50px;
    height: 80px;
    background-color: #364B4D;
}

.navbar-items{
    position: relative;
    color: #FFEEDF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    height: 80px;
}

.navbar-items > div{
    box-sizing: border-box;
    padding: 0;
    transition: 0.5s ease;
}

.navbar-items > div:hover {
    background-color: rgb(54, 75, 77);
    cursor: pointer;
    padding: 10px 10px;
    background-color: #476466;
    color: #F0FFDF;
    border-radius: 15px;
    font-size: 23px;
}

@media (max-width: 1650px) {
    .navbar-items{
        font-size: 18px;
        gap: 90px;
    }

    #navbar-text1{
        font-size: 32px;
    }
    
    #navbar-text2{
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    .navbar-items{
        font-size: 18px;
        gap: 75px;
    }

    #navbar-text1{
        font-size: 28px;
    }
    
    #navbar-text2{
        font-size: 18px;
    }
}

@media (max-width: 1350px) {
    .navbar-items{
        font-size: 16px;
        gap: 65px;
    }

    #navbar-text1{
        font-size: 26px;
    }
    
    #navbar-text2{
        font-size: 18px;
    }
}

@media (max-width: 1250px) {
    .navbar-items{
        font-size: 16px;
        gap: 60px;
    }

    #navbar-text1{
        font-size: 26px;
    }
    
    #navbar-text2{
        font-size: 16px;
        display: none;
    }

    #navbar-text2-after1250{
        display: flex;
    }

}