@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-size: 20px;
    color: #FFEEDF;
    cursor: default;
    user-select: none;
    text-decoration: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background-color: #FFEEDF;
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #42806D;
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #295044;
}
  

#navbar-text2-after1250{
    display: none;
    position: absolute;
    right: 25px;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

#navbar-text1{
    display: flex;
    position: absolute;
    left: 25px;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 36px;
}

#navbar-text2{
    display: flex;
    position: absolute;
    right: 25px;
    z-index: 1;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

.selected-text{
    color: #CCBCB1;
}

#copyright{
    display: flex;
    position: absolute;
    align-items: center;
    height: 60px;
    top: 80px;
    z-index: 1;
    right: 25px;
    font-size: 14px;
}

#navbar-background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 50px;
    height: 80px;
    background-color: #364B4D;
}

#navbar-background-bottom{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100vw;
    min-height: 50px;
    height: 60px;
    background-color: #486466;
}

#grade-selector-text{
    display: flex;
    position: absolute;
    font-size: 24px;
    align-items: center;
    height: 60px;
    left: 25px;
}

.grades{
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 60px;
    align-items: center;
    gap: 100px;
}

.grades > div{
    box-sizing: border-box;
    padding: 0;
    transition: 0.5s ease;
}

.grades > div:hover {
    background-color: rgb(54, 75, 77);
    cursor: pointer;
    padding: 10px 10px;
    background-color: #648A8C;
    color: #F0FFDF;
    border-radius: 15px;
    font-size: 23px;
}

.navbar-items{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    height: 80px;
}

.navbar-items > div{
    box-sizing: border-box;
    padding: 0;
    transition: 0.5s ease;
}

.navbar-items > div:hover {
    background-color: rgb(54, 75, 77);
    cursor: pointer;
    padding: 10px 10px;
    background-color: #476466;
    color: #F0FFDF;
    border-radius: 15px;
    font-size: 23px;
}

@media (max-width: 1650px) {
    .navbar-items{
        font-size: 18px;
        gap: 90px;
    }

    .navbar-items > div:hover {
        font-size: 20.7px;
    }

    #grade-selector-text{
        font-size: 22px;
    }

    .grades{
        font-size: 18px;
        gap: 90px;
    }

    .grades > div:hover{
        font-size: 20.7px;
    }

    #navbar-text1{
        font-size: 32px;
    }
    
    #navbar-text2{
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    .navbar-items{
        font-size: 18px;
        gap: 75px;
    }

    .navbar-items > div:hover {
        font-size: 20.7px;
    }

    #grade-selector-text{
        font-size: 20px;
    }

    .grades{
        font-size: 18px;
        gap: 75px;
    }

    .grades > div:hover{
        font-size: 20.7px;
    }


    #navbar-text1{
        font-size: 28px;
    }
    
    #navbar-text2{
        font-size: 18px;
    }

}

@media (max-width: 1350px) {
    .navbar-items{
        font-size: 16px;
        gap: 65px;
    }

    .navbar-items > div:hover {
        font-size: 18.4px;
    }

    .grades{
        font-size: 16px;
        gap: 65px;
    }

    .grades > div:hover{
        font-size: 18.4px;
    }


    #navbar-text1{
        font-size: 26px;
    }
    
    #navbar-text2{
        font-size: 18px;
    }

}

@media (max-width: 1250px) {
    .navbar-items{
        font-size: 16px;
        gap: 60px;
    }

    .navbar-items > div:hover {
        font-size: 18.4px;
    }

    .grades{
        font-size: 16px;
        gap: 60px;
    }

    .grades > div:hover{
        font-size: 18.4px;
    }
    
    #navbar-text2{
        display: none;
    }

    #navbar-text2-after1250{
        display: flex;
        font-size: 16px;
    }

}



.egesz{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    padding-bottom: 50px;
}

.esemenyek{
    padding: 10px 15px;
    border: 1px #FFF2B2 solid;
}

.evszamok{
    padding: 10px 15px;
    border: 1px #FFF2B2 solid;
    border-left: none;
    border-right: none;
}

.top{
    border-top: none;
}

.bottom{
    border-bottom: none;
}

.datumokLista{
    border: 1px #FFF2B2 solid;
    border-left: none;
}

.disable{
    opacity: 0;
    transition: 0.4s ease;
}

.disable:hover{
    opacity: 1;
}